<footer>
<p>Created by {{name}}. Weather forecasts are <a
href="https://darksky.net/poweredby">Powered by Dark Sky</a>. Geolocation
provided by <a href="https://www.mapbox.com/">Mapbox</a></p>
</footer>